body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  padding: 2rem;
  background-color: #1d1d1d;
  color: white;
}

a {
  color:aqua;
  font-size: 1rem;
  text-decoration: underline;
  cursor: pointer;
}

/*  */
h1 {
  margin-block-start: auto;
  margin-block-end: auto;
  display: inline;
}
h2, .h2, h4 {
  margin-block-start: 0.75rem;
  margin-block-end: 0.5rem;
}
#title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.align {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#support {
  white-space: nowrap; 
}

/* Update notification */
#update {
  color:crimson;
  font-size: 1.5rem;
}
#newVersion {
  font-weight: bold;
}
#save:enabled {
  animation: blinker 1s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes blinker {
  to {
    background-color: green;
  }
}

/* Stats */
.info {
  text-decoration: underline;
}
ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

/* Proxy log */
#log {
  background-color: #000000;
}

.loggable {
  overflow-x: hidden;
  white-space: nowrap;
}
.loggable:hover {
  overflow-x: auto;
}

.log {
  border: 1px dotted #1d1d1d;  
}

.error {
  border: 1px dotted #300000;
  color: crimson;
}

.date {
  font-weight: bold;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #0e0e0e; 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 95, 95); 
}