body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  /* max-width: 38rem; */
  padding: 2rem;
  background-color: #1d1d1d;
  color: white;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #0e0e0e; 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 95, 95); 
}

#log {
  background-color: #000000;
}

.loggable {
  overflow-x: hidden;
  white-space: nowrap;
}
.loggable:hover {
  overflow-x: auto;
}

.log {
  border: 1px dotted #1d1d1d;  
}

.error {
  border: 1px dotted #300000;
  color: crimson;
}

.date {
  font-weight: bold;
}